{% load static %}
<html>
	<head>
		<title>To-Do lists</title>
	</head>
	<body>
		<h1>Your To-Do list</h1>
		<div style="padding-bottom:30px">
			<a id="link_for_my_list" href="{% url 'view_list' list.id %}">link para sua lista</a>
		</div>
		<form method="POST" action="/lists/{{list.id}}/add_item">
			<input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
			<select name="item_priority" id="id_item_priority">
				<option value="low">baixa</option>
				<option value="medium">media</option>
				<option value="hight">alta</option>
			</select>
			{% csrf_token %}
		</form>
		<table id="id_list_table">
			{% for item in list.item_set.all %}
			<tr><td>{{ forloop.counter }} - {{ item.text }} - prioridade {{ item.get_priority_display }}</td></tr>
			{% endfor %}
		</table>
	</body>
</html>